[Unit]
Description=Disable swap after resuming from hibernation
After=hibernate.target
After=suspend-then-hibernate.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/sh -c "true"
; ExecStart=/usr/sbin/swapoff /swapfile

[Install]
WantedBy=hibernate.target
WantedBy=suspend-then-hibernate.target
